/* TYPOGRAPHY */
@import url("https://use.typekit.net/tvm5hyw.css");

h1 {
	font-family: "anago", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 87px;
}

h2 {
	font-family: "anago", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 65px;
}

h3 {
	font-family: "anago", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 43px;
}

h4 {
	font-family: "anago", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 43px;
}

h5 {
}

h6 {
}

p {
	font-family: "anago", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 34px;
}

a {
	font-family: "anago", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
}
