body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

@import url("https://use.typekit.net/tvm5hyw.css");

/*Back to Top knop*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: 2px solid black;
	outline: none;
	background-color: #fcb723;
	color: black;
	cursor: pointer;
	padding: 15.5px 20px;
	border-radius: 50px;
	transition: 0.1s;

	.Boven {
		display: none;
		border-radius: 7px;
	}
}

.Pijl {
	font-size: 16px;
}

.Boven {
	font-size: 16px;
}

#myBtn:hover {
	background-color: #833938;
	.Pijl {
		display: none;
	}

	.Boven {
		display: block;
	}
	border-radius: 20px;
	transition: 0.1s;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.Mobile {
	display: none;
}

.Desktop {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10%;
	background-color: #fcb723;
}

.Desktop-text {
	display: flex;
	justify-content: space-between;
	text-align: left;
}

.logo img {
	max-height: 80px;
}

nav .Desktop ul {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
}

nav ul:first-of-type {
	margin-right: 30%;
}

nav li {
	margin-right: 50px;
}

nav a {
	text-decoration: none;
	color: black;
	font-family: "anago", sans-serif;
	font-size: 15pt;
	color: black;
}

.logotaal {
	height: 10px;
}

.Desktop ul:last-child div li a img {
	height: 50px;
	padding-top: -1000px;
}
img.nederlandvlag {
	height: 50px;
}

nav a:hover {
	text-decoration: underline solid 2px brown;
}

.uBentHier {
	font-weight: bold;
}

.flex {
	display: flex;
	align-items: center;
}

.overOns {
	border-bottom: 5px solid #833938;
}

.background-color {
	background-color: #fcb723;
}

.flex2 {
	display: flex;
}

.flex2 img {
	margin-top: 100px;
	margin-bottom: 50px;
	width: 30%;
	border-radius: 54px;
	border-color: #ef9a1b;
}

.text {
	flex: 7;
}

.skyline img {
	margin-top: -250px;
	width: 100%;
	transform: scaleX(-1);
	padding-top: 4%;
	flex: 7;
}

.background-color2 {
	background-color: #fcb72342;
}

.flex3 {
	display: flex;
}

.flex3 img {
	width: 40%;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 54px;
}

.flex4 {
	display: flex;
	align-items: center;
}

.flex4 img {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 40%;
	flex: 5;
	border-radius: 54px;
	border-color: #ef9a1b;
}

/*lees meer expand*/

.card-group-2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5rem;
	align-items: flex-start;
}

.card-group {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 0.5rem;
	align-items: flex-start;
}

.card-2 {
	background-color: #ffffff;
	padding: 1rem;
	border: 1px solid #ffffff;
	border-radius: 20.26px;
}

.card {
	background-color: #fcb72300;
	padding: 1rem;
	border: 1px solid #fcb72300;
	border-radius: 20.26px;
}

h2 {
	margin-bottom: 10%;
	justify-content: center;
	text-align: center;
}

.cutoff-text {
	--max-lines: 3;

	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines);
	text-align: left;
}

.expand-btn {
	appearance: none;
	background-color: #fcb723;
	padding: 18px 25px;
	color: white;
	border-radius: 20.26px;
	margin-left: 35%;
	cursor: pointer;
	margin: 5%;
	margin-left: 0;
}

.expand-btnFR {
	appearance: none;
	background-color: #fcb723;
	padding: 18px 25px;
	color: white;
	border-radius: 20.26px;
	margin-left: 35%;
	cursor: pointer;
	margin: 5%;
	margin-left: 0;
}

.expand-btnFR:hover {
	background-color: #ef9a1b;
}

.expand-btnFR::before {
	content: "Lire plus";
	font-size: 155%;
	font-weight: 700;
}

.expand-btnFR:checked::before {
	content: "Lire moins";
	font-size: 155%;
	font-weight: 700;
}

.expand-btn:hover {
	background-color: #ef9a1b;
}

.expand-btn::before {
	content: "Lees meer";
	font-size: 155%;
	font-weight: 700;
}
.expand-btn:checked::before {
	content: "Lees minder";
	font-size: 155%;
	font-weight: 700;
}

.cutoff-text:has(+ .expand-btn:checked) {
	--max-lines: auto;
}

.cutoff-text:has(+ .expand-btnFR:checked) {
	--max-lines: auto;
}

/**/

.text {
	padding: 10%;
	padding-top: 0;
	padding-bottom: 3%;
	margin: 0;
}

.text-2 {
	padding: 10%;
	padding-top: 3%;
}

.Desktop ul li {
	margin-top: 0;
}

h2 {
	text-align: left;
}

.image {
	width: 100%;
	padding-top: 2%;
	margin-bottom: 5%;
	border-radius: 54px;
}

.image img {
	padding-left: 10%;
}

/*Footer*/
.SkylinesFooter {
	background-image: url(image-overons/Path\ 1.png);
	height: 250px;
	display: flex;
}

.Adres p,
.ContactUs p {
	color: black;
	margin-left: 225px;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 15pt;
}

.Adres p:first-child {
	margin-top: 30%;
}

.ContactUs p:first-child {
	margin-top: 22%;
}

footer {
	background-color: #fcb723;
	height: 100%;
	width: 100%;
	text-align: right;
}

footer div {
	display: flex;
	justify-content: space-between;
}

footer div img {
	width: 5%;
}

footer div p {
	font-family: "anago", sans-serif;
	font-size: 20px;
	color: black;
	margin-top: 4%;
}

.HuisVanVrede {
	width: 50%;
	margin-left: 4%;
}

.HuisVanVrede img {
	margin-top: 20px;
	max-width: 25%;
}

.HuisVanVrede p {
	margin-right: 20.5%;
	margin-top: 13%;
}

footer div img:first-child {
	height: 60%;
	width: 40%;
}

.Comissie {
	margin-top: 20px;
}

.fotogroep1 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep1 img {
	width: 25%;
	margin-top: 2%;
}

.fotogroep1 img:first-of-type {
	width: 30%;
	height: 50%;
	margin-right: 20%;
}

.fotogroep2 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep2 img:first-of-type {
	width: 50%;
	height: 70%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.fotogroep2 img {
	width: 40%;
}

/*----------------------------RESPONSIVE---------------------------*/

@media only screen and (max-width: 480px) {
	.Desktop {
		display: none;
	}

	.Mobile {
		display: flex;
		background-color: #fcb723;
	}

	.logoMobile img {
		max-height: 80px;
		margin-left: 200%;
	}

	.Mobile .menuToggle {
		display: block;
		position: relative;
		top: 30px;
		left: 30px;

		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	.Mobile .menuToggle a {
		text-decoration: none;
		color: white;

		transition: color 0.3s ease;
	}

	.Mobile .menuToggle a:hover {
		color: black;
	}

	.Mobile .menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;

		-webkit-touch-callout: none;
	}

	.Mobile .menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: black;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}

	.Mobile .menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	.Mobile .menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.Mobile .menuToggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: white;
	}

	.Mobile .menuToggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.Mobile .menuToggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	.Mobile .menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: #ef9a1b;
		border-right: 5px solid white;
		border-bottom: 5px solid white;
		border-radius: 0px 0px 50px 0px;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		text-align: center;
	}

	.Mobile .menu li {
		padding: 10px 0;
		font-size: 22px;
		border-bottom: 2px solid white;
	}

	.menu li.SteunMobile {
		border-bottom: 2px solid #ef9a1b;
	}

	.Mobile .menuToggle input:checked ~ ul {
		transform: none;
	}
	.logoMobile img {
		max-height: 80px;
		align-items: end;
		flex: 1;
	}
	.image img {
		padding: 0;
		width: 1000%;
		margin-top: 0px;
		margin-bottom: -50px;
	}
	.flex2 img {
		width: 40%;
		margin-top: 0;
	}
	.expand-btn {
		font-size: 10px;
		background-color: #fcb723;
		padding: 15px 24px;
		border-radius: 15px;
		margin-left: 32%;
	}
	.image {
		height: 10%;
		width: 90%;
		max-height: 40%;
		width: 10%;
	}

	.flex4 {
		flex-direction: column-reverse;
		align-items: center;
	}

	.flex3 {
		flex-direction: column;
		align-items: center;
	}

	.flex2 {
		flex-direction: column-reverse;
		align-items: center;
	}

	.ContacteerOns {
		display: block;
		border: none;
		width: 80%;
		margin-left: 12%;
		margin-top: 1%;
	}

	.ContacteerOnsTekst {
		text-align: center;
	}

	.ContacteerOnsTekst h2 {
		font-size: 30pt;
	}

	.ContacteerOnsTekst p {
		font-size: 15pt;
	}

	.ContacteerOns img {
		border: 3px solid #fcb723;
		border-radius: 20%;
		max-width: 70%;
		margin-left: 13%;
		margin-top: 15%;
		margin-bottom: -45%;
	}

	/*Adres & Contact Mobile*/
	.SkylinesFooter {
		margin-top: 20%;
		padding-top: 7%;
		width: 100%;
		background-position: -180px;
		background-repeat: no-repeat;
		border: none;
		margin-left: 0;
	}

	.Adres p,
	.ContactUs p {
		margin-left: 0px;
		color: black;
		font-size: 12pt;
	}

	.Adres p:first-child {
		margin-top: 0px;
		margin-top: 68%;
	}

	.Adres p {
		margin-left: 20px;
		margin-top: -10px;
	}

	.ContactUs p:first-child {
		margin-top: 50%;
	}

	.ContactUs p {
		margin-top: -10px;
		margin-left: 50%;
		margin-right: -40px;
		padding-right: -50px;
	}

	/*Footer Mobile*/
	footer {
		padding-right: -20%;
	}

	footer div {
		display: block;
	}

	footer div img {
		width: 100%;
		justify-content: left;
		margin-left: 13px;
	}
	.Comissie {
		max-width: 60%;
		margin-bottom: -30px;
		margin-left: 17%;
	}

	.HuisVanVrede {
		width: 80%;
		margin: 0;
		margin-left: 15%;
		align-items: center;
		display: flex;
	}

	.HuisVanVrede img {
		max-width: 15%;
		flex: 1;
	}

	.HuisVanVrede p {
		font-size: 17px;
		margin: 0;
		padding-top: 10%;
		text-align: left;
		flex: 4;
	}

	footer div img:first-child {
		width: 90%;
		margin-right: 7%;
	}

	.fotogroep1 {
		display: block;
		width: 80%;
		text-align: center;
		margin-left: 5%;
	}

	.fotogroep1 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep1 img:last-of-type {
		width: 25%;
		margin-left: 0;
	}

	.fotogroep2 {
		text-align: center;
		width: 80%;
		margin-left: 6%;
	}

	.fotogroep2 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep2 img:last-of-type {
		width: 30%;
	}

	.Lijn {
		width: 100%;
	}

	.Lijn2 {
		display: none;
	}
	/* .background-color2 {
        display: none;
    } */
	.card h2 {
		font-size: 50px;
		text-align: center;
		margin-bottom: 50px;
	}
	.cutoff-text {
		text-align: center;
		margin-top: -30px;
	}
	.flex3 img {
		margin-top: -10px;
	}
	.flex4 img {
		margin-top: 0px;
	}
	.text-2 h2 {
		font-size: 50px;
		text-align: center;
	}
	.text {
		margin-top: -20px;
	}
	.text-2 {
		margin-top: 150px;
	}
	.flex2 img {
		margin-top: -50px;
		margin-right: 0px;
	}
	.background-color2 {
		margin-top: -10px;
		margin-bottom: -70px;
	}
	.skyline img {
		padding-bottom: 6%;
	}
	.flex4 {
		margin-top: -150px;
	}
	h2.Desktop-text {
		margin-left: 80px;
		margin-top: -50px;
		padding-bottom: 20px;
	}
	.Desktop-text {
		display: none;
	}
}

@media only screen and (min-width: 480px) {
	.Mobile-text {
		display: none;
	}
}
