@import url("https://use.typekit.net/tvm5hyw.css");

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: "anago", sans-serif;
}

.Lijn {
	background-color: #fcb723;
	width: 100%;
	color: #fcb723;
	font-size: 4px;
	margin-top: 5%;
}

/*Navigatie*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fcb723;
}

.logo img {
	max-height: 80px;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav ul:first-of-type {
	margin-right: 30%;
}

nav li {
	margin-right: 50px;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 15pt;
	color: rgb(0, 0, 0);
}

nav a:hover {
	text-decoration: underline solid 2px brown;
}

.uBentHier {
	font-weight: bold;
	font-size: 135%;
}

.Vacatuur {
	border: solid 2px black;
	border-radius: 15px;
	color: black;
	padding: 5px;
	transition: 0.2s;
}

.Vacatuur:hover {
	background-color: #ef9a1b;
	text-decoration: none;
}

.Vacatuur:active {
	box-shadow: 0px 0px 8px #833938;
	color: #833938;
}

/*Footer*/
.SkylinesFooter {
	background-image: url(images/Path\ 1.png);
	height: 250px;
	display: flex;
}

.Adres p,
.ContactUs p {
	color: black;
	margin-left: 225px;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 15pt;
}

.Adres p:first-child {
	margin-top: 30%;
}

.ContactUs p:first-child {
	margin-top: 22%;
}

footer {
	background-color: #fcb723;
	height: 100%;
	width: 100%;
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
}

footer div {
	display: flex;
	justify-content: space-between;
}

footer div img {
	width: 5%;
}

footer div p {
	font-family: "anago", sans-serif;
	font-size: 20px;
	color: black;
	margin-top: 4%;
}

.HuisVanVrede {
	width: 50%;
	margin-left: 4%;
}

.HuisVanVrede img {
	margin-top: 20px;
	max-width: 25%;
}

.HuisVanVrede p {
	margin-right: 20.5%;
	margin-top: 13%;
}

footer div img:first-child {
	height: 60%;
	width: 40%;
}

.Comissie {
	margin-top: 20px;
}

.fotogroep1 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep1 img {
	width: 25%;
	margin-top: 2%;
}

.fotogroep1 img:first-of-type {
	width: 30%;
	height: 50%;
	margin-right: 20%;
}

.fotogroep2 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep2 img:first-of-type {
	width: 50%;
	height: 70%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.fotogroep2 img {
	width: 40%;
}
/*headings*/

h1 {
	font-weight: 700;
	font-style: normal;
	font-size: 87px;
	color: #833938;
}

h2 {
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
	color: #833938;
}

p {
	font-size: 25px;
}

/*vrijwilligers*/

.vrijwilligers {
	background-color: #fff2d3;
	padding: 100px;
	margin-top: -5px;
	margin-bottom: -50px;
}

.onderkantpagina a {
	background-color: #fcb723;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.onderkantpagina {
	display: flex;
	justify-content: center;
	gap: 400px;
	margin-bottom: 100px;
	margin-top: -60px;
	background-color: #fff2d3;
	padding: 40px;
}

.bovenkantpagina {
	text-align: center;
}

.middenstuk {
	text-align: center;
	margin-bottom: 150px;
}

.afbeeldingenvw {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.afbeeldingenvw img {
	width: 100%;
	margin-top: -100px;
}

.bovenkantpagina img {
	width: 100%;
	margin-top: -100px;
}

.middenstuk a {
	background-color: #fcb723;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.logotaal img {
	width: 50px;
}

/*----------------------------RESPONSIVE---------------------------*/

@media only screen and (max-width: 480px) {
}
