@import url("https://use.typekit.net/tvm5hyw.css");

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: "anago", sans-serif;
}

.Lijn {
	background-color: #fcb723;
	width: 100%;
	color: #fcb723;
	font-size: 4px;
	margin-top: 5%;
}

/*Navigatie*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fcb723;
}

.logo img {
	max-height: 80px;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav ul:first-of-type {
	margin-right: 30%;
}

nav li {
	margin-right: 50px;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 20px;
	color: black;
}

nav a:hover {
	text-decoration: underline solid 2px brown;
}

.uBentHier {
	font-weight: bold;
	font-size: 135%;
}

.Vacatuur {
	border: solid 2px black;
	border-radius: 15px;
	color: black;
	padding: 5px;
	transition: 0.2s;
}

.Vacatuur:hover {
	background-color: #ef9a1b;
	text-decoration: none;
}

.Vacatuur:active {
	box-shadow: 0px 0px 8px #833938;
	color: #833938;
}

/*Footer*/
.SkylinesFooter {
	background-image: url(images/Path\ 1.png);
	height: 250px;
	display: flex;
}

.Adres p,
.ContactUs p {
	color: black;
	margin-left: 225px;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 20px;
}

.Adres p:first-child {
	margin-top: 30%;
}

.ContactUs p:first-child {
	margin-top: 22%;
}

footer {
	background-color: #fcb723;
	height: 100%;
	width: 100%;
	text-align: right;
}

footer div {
	display: flex;
	justify-content: space-between;
}

footer div img {
	width: 5%;
}

footer div p {
	font-family: "anago", sans-serif;
	font-size: 20px;
	color: black;
	margin-top: 4%;
}

.HuisVanVrede {
	width: 50%;
	margin-left: 4%;
}

.HuisVanVrede img {
	margin-top: 20px;
	max-width: 25%;
}

.HuisVanVrede p {
	margin-right: 20.5%;
	margin-top: 13%;
}

footer div img:first-child {
	height: 60%;
	width: 40%;
}

.Comissie {
	margin-top: 20px;
}

.fotogroep1 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep1 img {
	width: 25%;
	margin-top: 2%;
}

.fotogroep1 img:first-of-type {
	width: 30%;
	height: 50%;
	margin-right: 20%;
}

.fotogroep2 {
	display: block;
	width: 100%;
	text-align: center;
}

.fotogroep2 img:first-of-type {
	width: 50%;
	height: 70%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.fotogroep2 img {
	width: 40%;
}
/*headings*/

h1 {
	font-weight: 700;
	font-style: normal;
	font-size: 87px;
	color: #833938;
}

h2 {
	font-weight: 700;
	font-style: normal;
	font-size: 35px;
	color: #833938;
}

p {
	font-size: 25px;
}

/*vrijwilligers*/

.vrijwilligers {
	background-color: #fff2d3;
	padding: 100px;
	margin-top: -5px;
	margin-bottom: -50px;
}

.onderkantpagina a {
	background-color: #fcb723;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.onderkantpagina {
	display: flex;
	justify-content: center;
	gap: 400px;
	margin-bottom: 100px;
	margin-top: -60px;
	background-color: #fff2d3;
	padding: 40px;
}

.bovenkantpagina {
	text-align: center;
}

.middenstuk {
	text-align: center;
	margin-bottom: 150px;
}

.afbeeldingenvw {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.afbeeldingenvw img {
	width: 100%;
	margin-top: -100px;
}

.bovenkantpagina img {
	width: 100%;
	margin-top: -100px;
}

.middenstuk a {
	background-color: #fcb723;
	text-decoration: none;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}

.logotaal img {
	width: 50px;
}

.Mobile {
	display: none;
}

/* Media query for 480px device */
@media only screen and (max-width: 480px) {
	body {
		font-size: 14px; /* Adjust font size for smaller screens */
	}

	nav {
		padding-left: 1%;
		padding-right: 1%;
	}

	nav ul:first-of-type {
		margin-right: 10%;
	}

	nav li {
		margin-right: 20px;
	}

	.bovenkantpagina,
	.onderkantpagina,
	.middenstuk {
		padding: 10px;
	}

	.bovenkantpagina img,
	.afbeeldingenvw img {
		margin-top: 0;
	}

	.footer div p,
	.HuisVanVrede p {
		font-size: 16px;
		margin-top: 2%;
	}

	.fotogroep1 img,
	.fotogroep1 img:first-of-type,
	.fotogroep2 img:first-of-type {
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-bottom: 0;
	}

	.fotogroep1 img:first-of-type {
		margin-right: 0;
		margin-bottom: 0;
	}

	.fotogroep2 img:first-of-type {
		margin-right: 0;
		margin-bottom: 0;
	}

	.fotogroep2 img {
		width: 100%;
	}

	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 25px;
	}

	p {
		font-size: 16px;
	}

	.vrijwilligers {
		padding: 20px;
		margin-top: -5px;
		margin-bottom: -20px;
	}

	.onderkantpagina {
		gap: 20px;
		margin-bottom: -10px;
		margin-top: -20px;
		padding: 20px;
	}

	.afbeeldingenvw {
		gap: 5px;
	}

	.afbeeldingenvw img {
		margin-top: 0;
	}

	.bovenkantpagina img {
		margin-top: 0;
	}

	.middenstuk a {
		font-size: 14px;
	}

	.logotaal img {
		width: 30px;
	}
	.Desktop {
		display: none;
	}

	/*Footer Mobile*/
	footer {
		padding-right: -20%;
	}

	footer div {
		display: block;
	}

	footer div img {
		width: 100%;
		justify-content: left;
		margin-left: 13px;
	}
	.Comissie {
		max-width: 60%;
		margin-bottom: -30px;
		margin-left: 17%;
	}

	.HuisVanVrede {
		width: 80%;
		margin: 0;
		margin-left: 15%;
		align-items: center;
		display: flex;
	}

	.HuisVanVrede img {
		max-width: 15%;
		flex: 1;
	}

	.HuisVanVrede p {
		font-size: 17px;
		margin: 0;
		padding-top: 10%;
		text-align: left;
		flex: 4;
	}

	footer div img:first-child {
		width: 90%;
		margin-right: 7%;
	}

	.fotogroep1 {
		display: block;
		width: 80%;
		text-align: center;
		margin-left: 5%;
	}

	.fotogroep1 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep1 img:last-of-type {
		width: 25%;
		margin-left: 0;
	}

	.fotogroep2 {
		text-align: center;
		width: 80%;
		margin-left: 6%;
	}

	.fotogroep2 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep2 img:last-of-type {
		width: 30%;
	}

	.Lijn {
		width: 100%;
	}

	.Lijn2 {
		display: none;
	}
	/*
	.background-color2 {
		display: none;
	}
	*/
}
