@import url("https://use.typekit.net/tvm5hyw.css");

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: "anago";
}

h1 {
	font-size: 55px;
	color: #833938;
}

h2 {
	font-size: 34px;
	color: #833938;
}

p {
	font-size: 24px;
}

img {
	border-radius: 50px;
}

.Mobile {
	display: none;
}
/*header*/



/* start*/

.intro {
	display: flex;
}

.intro img {
	margin-top: 210px;
	margin-left: 10%;
	height: 413px;
}

.intro-text h2 {
	margin-top: 80px;
	margin-left: 190px;
}

.intro-text p {
	margin-left: 190px;
}

.intro-text h1 {
	margin-top: 110px;
	margin-left: -545px;
}

.skyline img {
	transform: scaleX(-1);
	margin-top: -80px;
	width: 100%;
}

.kookvrijwilleger {
	background-color: #fff0d2;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	padding: 3%;
}

.kookvrijwilleger img {
	width: 385px;
	margin-right: 200px;
}

.kookvrijwilleger-text {
	margin-right: 16%;
}

.assistent {
	display: flex;
	padding-top: 70px;
	padding-bottom: 90px;
}

.assistent img {
	width: 280px;
	margin-left: 180px;
}

.assistent-text {
	margin-top: 140px;
	margin-left: 270px;
}

.assistent img {
	width: 510px;
}

.vrijwillig {
	background-color: #fff0d2;
	display: flex;
	flex-direction: row-reverse;
	padding: 3%;
	margin-bottom: 3%;
}

.vrijwillig img {
	height: 350px;
	margin-right: 220px;
}

.vrijwillig-text {
	padding-top: 20px;
	margin-right: 7%;
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.Mobile {
	display: none;
}



@import url("https://use.typekit.net/tvm5hyw.css");

body {
	margin: 0;
	padding: 0;
	background-color: white;
}

.logotaal img {
	width: 50px;
}

/*Back to Top knop*/
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: 2px solid black;
	outline: none;
	background-color: #FCB723;
	color: black;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 50px;
	transition: 0.1s;

	.Boven {
		display: none;
	}
}

.Pijl {
	font-size: 16px;
}

.Boven {
	font-size: 16px;
}


#myBtn:hover {
	background-color: #833938;

	/* Add a dark-grey background on hover */
	.Pijl {
		display: none;
	}

	.Boven {
		display: block;
	}

}


/*Navbar*/
.Mobile {
	display: none;
}

.Desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fcb723;
}

.logo img {
	max-height: 80px;
}

nav .Desktop ul {
	list-style: none;
	padding: 0;
	display: flex;
}

nav ul:first-of-type {
	margin-right: 20%;
}

nav li {
	margin-right: 50px;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family: "anago", sans-serif;
	font-size: 15pt;
	color: black;
}

nav a:hover {
	text-decoration: underline solid 2px brown;
}

.uBentHier {
	font-weight: bold;
}

.Vacatuur:hover {
	background-color: #ef9a1b;
	text-decoration: none;
}
/*Footer*/
.SkylinesFooter {
	background-image: url(images/Path\ 1.png);
	height: 250px;
	width: 50%;
	display: flex;
}

.footerbottom {
	display: flex;
}

.footerbottom-1 {
	display: flex;
	background-color: #FCB723;
	width: 100%;
	height: 300px;
}

.footerbottom-1 ul li {
	display: inline-flex;
	margin-top: 4%;
}

.footerbottom-1 img {
	margin-left: 2%;
	margin-top: 27%;
}

.comission {
	width: 400px;
}

.LogoHuisVanVrede {
	width: 100px;
	padding-left: 85%;
}

.footerbottom-1 p {
	font-family: "anago";
	font-size: 24px;
	margin-top: 23%;
	margin-left: 9%;

}

.footerbottom-2 {
	display: flex;
	background-color: #FCB723;
	height: 150px;
	list-style: none;
}

.Febi {
	margin-top: 8%;
	width: 40%;
	margin-left: 6%;
}

.carritas {
	margin-top: 20%;
	margin-left: -100%;
	width: 140%
}

.footerbottom-3 {
	display: flex;
	background-color: #FCB723;
	width: 100%;
	height: 150px;
	list-style: none;
}

.actiris {
	margin-top: 9%;
}

.KBS {
	margin-top: 9%;
}

.text-footer {
	background-color: #FCB723;
	font-size: 14px;
}

.ContactUs,
.Adres {
	font-family: "Anago";
	line-height: 4px;
	margin-left: 28%;
	margin-top: 23%;
}

.ContactUs {
	margin-left: 10%;
}

.Adres p{
	font-size: 14px;
} 

.ContactUs p{
	font-size: 14px;
}



/*----------------------------RESPONSIVE---------------------------*/

@media only screen and (max-width: 480px) {
	.Desktop {
		display: none;
	}

	.Mobile {
		display: flex;
		background-color: #fcb723;
		justify-content: space-between;
	}

	.logoMobile img {
		max-height: 80px;
		align-items: end;
		flex: 1;
		margin-left: -225%;
	}

	.Mobile .menuToggle {
		display: block;
		position: relative;
		top: 30px;
		left: 30px;

		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	.Mobile .menuToggle a {
		text-decoration: none;
		color: white;

		transition: color 0.3s ease;
	}

	.Mobile .menuToggle a:hover {
		color: black;
	}

	.Mobile .menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;

		-webkit-touch-callout: none;
	}

	.Mobile .menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: black;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		background: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}

	.Mobile .menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	.Mobile .menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.Mobile .menuToggle input:checked~span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: white;
	}

	.Mobile .menuToggle input:checked~span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.Mobile .menuToggle input:checked~span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	.Mobile .menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: #ef9a1b;
		border-right: 5px solid white;
		border-bottom: 5px solid white;
		border-radius: 0px 0px 50px 0px;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		text-align: center;
	}

	.Mobile .menu li {
		padding: 10px 0;
		font-size: 22px;
		border-bottom: 2px solid white;
	}

	.menu li.SteunMobile {
		border-bottom: 2px solid #ef9a1b;
	}

	.Mobile .menuToggle input:checked~ul {
		transform: none;
	}

	.menu li.VacatuurMobile {
		border-bottom: 2px solid #ef9a1b;
	}
}
	/*Footer Mobile*/
	@media only screen and (max-width: 480px){
	.SkylinesFooter{
		text-align: center;
		display: flex;
		flex-direction: column;
		font-size: 15px;
		width: 80%;
		margin-top: 90%;
		
	}
	
	.Adres{
		
		margin-top:28%;
		margin-left: 40%;
	}
	.ContactUs{
		margin-top: -1%;
		margin-left: 40%;
	}
	.footerbottom{
		display: block;
		flex-direction: row;
		justify-content:center;
	}
	.comission{
		padding-top:px;
		scale: 80%;
	}
	}	
.solliciteer {
	background-color: #fcb723;
	padding: 12px 24px;
	border-radius: 15px;
	color: white;
	font-size: 20px;
	display: inline-block;
	margin-left: 190px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.solliciteer-2 {
	background-color: #fcb723;
	padding: 12px 24px;
	border-radius: 15px;
	color: white;
	font-size: 20px;
	display: inline-block;
	text-decoration: none;
	margin-top: 20px;
}

@media only screen and (max-width: 480px) {
	.Desktop {
		display: none;
	}

	.Mobile {
		display: flex;
		background-color: #fcb723;
	}

	.logoMobile img {
		max-height: 80px;
		margin-left: 200%;
	}

	.Mobile .menuToggle {
		display: block;
		position: relative;
		top: 30px;
		left: 30px;

		z-index: 1;

		-webkit-user-select: none;
		user-select: none;
	}

	.Mobile .menuToggle a {
		text-decoration: none;
		color: white;

		transition: color 0.3s ease;
	}

	.Mobile .menuToggle a:hover {
		color: black;
	}

	.Mobile .menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;

		-webkit-touch-callout: none;
	}

	.Mobile .menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: black;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
			background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	}

	.Mobile .menuToggle span:first-child {
		transform-origin: 0% 0%;
	}

	.Mobile .menuToggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	.Mobile .menuToggle input:checked~span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: white;
	}

	.Mobile .menuToggle input:checked~span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	.Mobile .menuToggle input:checked~span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	.Mobile .menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: #ef9a1b;
		border-right: 5px solid white;
		border-bottom: 5px solid white;
		border-radius: 0px 0px 50px 0px;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
		text-align: center;
	}

	.Mobile .menu li {
		padding: 10px 0;
		font-size: 22px;
		border-bottom: 2px solid white;
	}

	.menu li.SteunMobile {
		border-bottom: 2px solid #ef9a1b;
	}

	.Mobile .menuToggle input:checked~ul {
		transform: none;
	}

	/*Adres & Contact*/
	.SkylinesFooter {
		margin-top: 50%;
		padding-top: 7%;
		width: 100%;
		background-position: -180px;
		background-repeat: no-repeat;
	}

	.Adres p,
	.ContactUs p {
		margin-left: 0px;
		color: black;
		font-size: 13pt;
	}

	.Adres p:first-child {
		margin-top: 0px;
		margin-top: 72%;
	}

	.Adres p {
		margin-left: 30px;
		margin-top: -10px;
	}

	.ContactUs p:first-child {
		margin-top: 50%;
	}

	.ContactUs p {
		margin-top: -10px;
		margin-left: 30%;
		margin-right: -40px;
	}
}

@media only screen and (max-width: 480px) {
	h2 {
		font-size: 24px;
	}

	p {
		font-size: 16px;
	}

	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.intro img {
		margin-top: 50px;
		width: 280px;
		height: 205px;
		margin-left: 90px;
	}

	.solliciteer {
		font-size: 16px;
		margin-left: 300px;
	}

	.solliciteer-2 {
		font-size: 16px;
		margin-left: 100px;
	}

	.intro-text {
		margin-left: -140px;
	}

	.intro-text h1 {
		margin-left: 35%;
		margin-top: 5%;
	}

	.intro-text h2 {
		margin-top: 0px;
	}

	.skyline img {
		width: 500px;
	}

	.kookvrijwilleger {
		display: flex;
		flex-direction: column;
	}

	.kookvrijwilleger img {
		width: 250px;
		margin-left: 180px;
	}

	.kookvrijwilleger-text {
		width: 80%;
		margin-top: 15px;
		margin-right: 110px;
	}

	.assistent {
		display: flex;
		flex-direction: column;
	}

	.assistent img {
		width: 60%;
		margin-left: 75px;
		margin-top: -50px;
	}

	.assistent-text {
		width: 80%;
		margin-left: 60px;
		margin-top: 15px;
	}

	.vrijwillig {
		display: flex;
		flex-direction: column;
	}

	.vrijwillig-text {
		width: 100%;
		margin-left: 50px;
	}

	.vrijwillig img {
		width: 90%;
		height: 90%;
		margin-left: 25px;
		margin-top: -60px;
	}

	.vrijwillig {
		background-color: #fff0d2;
		padding-top: 15%;
		margin-top: -50px;
	}

	.skyline img {
		margin-top: -20px;
	}

	.SkylinesFooter {
		margin-top: 15%;
	}

	/*Footer Mobile*/
	footer {
		padding-right: -20%;
	}

	footer div {
		display: block;
	}

	footer div img {
		width: 100%;
		justify-content: left;
		margin-left: 13px;
	}

	.Comissie {
		max-width: 60%;
		margin-bottom: -30px;
		margin-left: 17%;
	}

	.HuisVanVrede {
		width: 80%;
		margin: 0;
		margin-left: 15%;
		align-items: center;
		display: flex;
	}

	.HuisVanVrede img {
		max-width: 15%;
		flex: 1;
	}

	.HuisVanVrede p {
		font-size: 17px;
		margin: 0;
		padding-top: 10%;
		text-align: left;
		flex: 4;
	}

	footer div img:first-child {
		width: 90%;
		margin-right: 7%;
	}

	.fotogroep1 {
		display: block;
		width: 80%;
		text-align: center;
		margin-left: 5%;
	}

	.fotogroep1 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep1 img:last-of-type {
		width: 25%;
		margin-left: 0;
	}

	.fotogroep2 {
		text-align: center;
		width: 80%;
		margin-left: 6%;
	}

	.fotogroep2 img:first-of-type {
		width: 30%;
		margin-right: 0;
	}

	.fotogroep2 img:last-of-type {
		width: 30%;
	}

	.Lijn {
		width: 100%;
	}

	.Lijn2 {
		display: none;
	}

}

.logotaal img {
	border-radius: 0%;
	width: 50px;
}