body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	margin-bottom: 20px;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	flex: 10;
	display: flex;
	justify-content: left;
	align-items: center;
}

.navigation-2 {
	width: 100%;
	flex: 4;
	display: flex;
	justify-content: right;
	align-items: center;
}

.navigation-text ul li {
	display: inline-block;
	margin-right: 50px;
}

.navigation-text ul li a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
	align-items: center;
}

.overOns {
	border-bottom: 5px solid #833938;
}

.background-color {
	background-color: #fcb723;
}

.flex2 {
	display: flex;
}

.flex2 img {
	margin-top: 100px;
	width: 40%;
	flex: 5;
}

.text {
	flex: 7;
	margin-top: 10%;
	margin-left: 8%;
}

.skyline img {
	position: absolute;
	top: 68%;
}

.background-color2 {
	background-color: #fcb72342;
}

.flex3 {
	display: flex;
	margin-top: 18%;
}

.