/* TYPOGRAPHY */

h1 {
	font-family: "anisette-std", sans-serif;
	font-weight: 96;
	font-style: normal;
}

h2 {
	font-family: "ff-dagny-web-pro", sans-serif;
	font-weight: 900;
	font-style: normal;
}

h3 {
	font-family: "akagi-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h4 {
}

h5 {
}

h6 {
}

p {
	font-family: "akagi-pro", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a {
}
