@import url("https://use.typekit.net/tvm5hyw.css");

body {
	margin: 0;
	padding: 0;
	background-color: #f6e8ab;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	flex: 10;
	display: flex;
	justify-content: left;
	align-items: center;
}

.navigation-2 {
	width: 100%;
	flex: 4;
	display: flex;
	justify-content: right;
	align-items: center;
}

.navigation-text ul li {
	display: inline-block;
	margin-right: 50px;
	font-family: "anago", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
}

.navigation-text ul li a {
	text-decoration: none;
	color: black;
}

.flex {
	display: flex;
	align-items: center;
}

.navigation-text ul li a.vacatuur {
	background-color: #fcb723;
	padding: 18px 25px;
	color: black;
	border-radius: 30px;
}

.navigation-text ul li a.vacatuur:hover {
	background-color: #ef9a1b;
}
